*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
}

h1{
    margin: 3%;
    font-size: clamp(1rem, 3vw, 3rem);
    text-align: center;
}